*.exe
ChaosHomeworksPart1/Homework10/x64
ChaosHomeworksPart1/Homework11/x64
ChaosHomeworksPart1/Homework12/x64
ChaosHomeworksPart1/Homework13/x64
ChaosHomeworksPart1/Homework10/.vs
ChaosHomeworksPart1/Homework11/.vs
ChaosHomeworksPart1/Homework12/.vs
ChaosHomeworksPart1/Homework13/.vs
/FinalProjectChaos/x64
/FinalProjectChaos/FinalPro.1B4AF1FC
/FinalProjectChaos/.vs